a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{box-sizing:border-box}*,::after,::before{box-sizing:inherit}img,video{width:100%;vertical-align:middle;}

/* FONT */

/* TITRE */
@font-face {
    font-family: 'AmericanaRegular';
    src: url('font/Americana/americana_font_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* TEXTE COURANT */
/* font-family: 'Karla', sans-serif; */




/* EXEMPLE SYNTAXE FONT */

/* 
@font-face {
    font-family: 'BallparkWeiner';
    src: url('fonts/ballpark_weiner-webfont.eot');
    src: url('fonts/ballpark_weiner-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ballpark_weiner-webfont.woff') format('woff'),
         url('fonts/ballpark_weiner-webfont.ttf') format('truetype'),
         url('fonts/ballpark_weiner-webfont.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;

} */


/* @font-face {
    font-family: americana regular;
    src: url(./font/Americana\ Font\ Regular/);
    font-weight: regular;
    /* font-weight: bold; 
} */

:root{

    /* Couleur vert (principale) */
    --vertFonce: #172A23;
    --vertFonceMoin: #243b32;
    --vertMoyen: #3A5D4D;
    --vertScroll: #1e5a3f;
    --vertClair: #EBF2ED;
    
    /* Couleur vert (secondaire) */
    --vertFonceTransparent: #65736D;
    --vertNavTrait:#D4DFD7;
    --vertHover: #56846E;
    --vertScroll2: #576D5D;
    --vertNavMenu: #9CA7A2;
}



/* AJAX */
.hidden {
    display: none;
}


/* Menu - NAV */


nav{
    position: fixed;
    background-color: #06050a86;
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: space-between;
    padding: 0 195px;
    width: 100%;
    z-index: 8;
    top: 0;
}

/* -------------- NAVIGATION (event.php) -------------- */
nav{
    /* padding: 30px 70px; */
    border-bottom: solid 1px var(--vertNavTrait);
    background: white;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 150px;

}

.navigation{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: var(--vertMoyen);
    
}

.navigation div{
    margin-left: 30px;
}

#recherche{
    width: 500px;
    height: 30px;
    border: solid 1px var(--vertFonce);
}

#recherche::placeholder{
    text-align: end;
    color: var(--vertFonce);
    opacity: 0.5;
    padding-right: 8px;
}

.trait1{
    width: 45px;
    height: 3px;
    background-color: var(--vertFonceMoin);
    margin-bottom: 8px;
}

.trait2{
    width: 45px;
    height: 3px;
    background-color: var(--vertFonceMoin);
    margin-top: 8px;
}

/* Personnalisation */

.nav_ss_menu{
    display: flex;
}


.trigger{
    display: none;
}


.burger > div {
width: 45px;
height: 3px;
background: var(--vertFonce);
margin-bottom: 0px;
transition: all 0.5s ease-in;
}


.burger > div:nth-child(3) {
margin-bottom: 0;
}

.burger,
.trigger {
cursor: pointer;
position: fixed;
top: 33px;
right: 70px;
display: block;
margin: 0;
z-index: 11;
}

/* Le trigger est un input qu'on a placé devant le burger qui sera cliqué quand l'user clique sur le burger: il a la meme taille */
.trigger {
z-index: 12;
width: 45px;
height: 26px;
opacity: 0;
}
/* Animation du burger */

.trigger:checked + .burger > div:nth-child(1) {
/* background-color: aqua; */
/* déplacer au milieu et tourner pour se mettre en diagonale: */
transform: translateY(6px) rotate(-45deg);
background-color: #fff;
}

.trigger:checked + .burger > div:nth-child(2) {
/* background-color: #46C; */
/* monter et pivoter */
transform: translateY(-6px) rotate(+45deg);
background-color: #fff;
}
.trigger:checked ~ .menu_nav{
    transform: translate(0);
}
/* NAVIGATION */
.menu_nav {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
display: flex;
flex-direction: column;
justify-content: center;
transform: translate(100%);
transition: all 0.8s ease-in-out;
background-color: rgba(255, 255, 255, 0.5);
/* display: none;  */
/* n'affecte plus la nav */
}



    
/*///////////////////////////////// PERSONALISATION - MENU */

.grid_menu{
    display: flex;
    margin: auto;
    width: 100%;
    flex-direction: row-reverse;
}

.menu_vert{
    background-color: var(--vertFonce);
    padding-top: 235px;
    width: 100%;
    position: relative;
}
.menu_fond{
    background-color: #172a2385;
    width: 100%;
}


/* CONTENU MENU */

.nav2_container{
    /* width: 55%; */
    width: 63%;
    margin: auto;
    
}

/* --- PROFIL CONNEXION  - (prénom & image profil rond) --- */

.profil_nav{
    display: flex;
    position: absolute;
    top: 65px;
    align-items: center;
} 

.img_profil{
    border: 2px solid var(--vertNavMenu);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.profil_nav p{
    text-decoration: none;
    font-family: 'Karla', sans-serif; 
    color: var(--vertNavMenu);
    font-size: 22px;
    font-weight: 200;
    padding-left: 24px;
} 

/* --- ESPACE NAVIGATION  - MENU (admin & client) --- */
    
.nav2_menu ul{
    display: flex;
    justify-content: space-between;
}

.nav2_menu ul a{
    text-decoration: none;
    font-family: 'Karla', sans-serif; 
    color: var(--vertHover);
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav2_menu ul a:hover{
    color: var(--vertClair);
}


/* --- ESPACE NAVIGATION  - LIENS --- */

.list_sous_menu{
    margin-top: 25px;
}

.list_sous_menu ul li a{
    font-family: 'AmericanaRegular';
    color: var(--vertClair);
    text-decoration: none;
    font-size: 40px;
    /* font-size: 43px; */
}

.list_sous_menu ul li{
    padding-top: 42px;
}

.list_sous_menu ul li a:hover{
    color: var(--vertHover);
}
   

/* --- DECONNEXION - LIENS --- */

.deconnexion {
    text-align: end;
    /* margin-top: 234px; */
    position: absolute;
    bottom: 85px;
    right: 165px;
}
.deconnexion a{
    text-decoration: none;
    font-family: 'Karla', sans-serif; 
    color: var(--vertNavMenu);
    font-size: 22px;
    font-weight: 200;
}
    